<section id="capa">
    {% if report.analysis.capa %}
            <div>
                <h4>Metadata</h4>
                <div id="metadata">
                    <table class="table table-striped table-bordered">
                        <colgroup>
                            <col width="150" />
                            <col width="*" />
                        </colgroup>
                        <tr>
                            <th>MD5</th>
                            <td>{{report.analysis.capa.md5}}</td>
                        </tr>
                        <tr>
                            <th>SHA1</th>
                            <td>{{report.analysis.capa.sha1}}</td>
                        </tr>
                        <tr>
                            <th>SHA256</th>
                            <td>{{report.analysis.capa.sha256}}</td>
                        </tr>
                        <tr>
                            <th>Path</th>
                            <td>{{report.analysis.capa.path}}</td>
                        </tr>
                        <tr>
                            <th>Timestamp</th>
                            <td>{{report.analysis.capa.timestamp}}</td>
                        </tr>
                        <tr>
                            <th>CAPA Version</th>
                            <td>{{report.analysis.capa.version}}</td>
                        </tr>
                        <tr>
                            <th>Format</th>
                            <td>{{report.analysis.capa.format}}</td>
                        </tr>
                        <tr>
                            <th>Extractor</th>
                            <td>{{report.analysis.capa.extractor}}</td>
                        </tr>
                        <tr>
                            <th>Base Address</th>
                            <td class="hex_address">{{report.analysis.capa.base_address}}</td>
                        </tr>
                        <tr>
                            <th>Rules</th>
                            <td>{{report.analysis.capa.rule_sets}}</td>
                        </tr>
                        <tr>
                            <th>Function Count</th>
                            <td>{{report.analysis.capa.function_count}}</td>
                        </tr>
                        <tr>
                            <th>Total Feature Count</th>
                            <td>{{report.analysis.capa.total_feature_count}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div>
                <h4>ATT&CK</h4>
                <div id="attack">
                    <table class="table table-striped table-bordered">
                        <colgroup>
                            <col width="150" />
                            <col width="*" />
                        </colgroup>
                        <tr>
                            <th>Tactic</th>
                            <th>Technique</th>
                        </tr>
                        {% for attack in report.analysis.capa.attack %}
                        <tr>
                            <td>{{ attack.tactic }}</td>
                            <td>{{ attack.technique }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <br>
            <div>
                <h4>MBC</h4>
                <div id="mbc">
                    <table class="table table-striped table-bordered">
                        <colgroup>
                            <col width="*" />
                            <col width="*" />
                        </colgroup>
                        <tr>
                            <th>Objective</th>
                            <th>Behavior</th>
                        </tr>
                        {% for mbc in report.analysis.capa.mbc %}
                        <tr>
                            <td>{{ mbc.objective }}</td>
                            <td>{{ mbc.behavior }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <br>
            <div>
                <h4>Capabilities</h4>
                <div id="capabilities">
                    <table class="table table-striped table-bordered">
                        <colgroup>
                            <col width="*" />
                            <col width="*" />
                        </colgroup>
                        <tr>
                            <th>Capability</th>
                            <th>Namespace</th>
                            <th>Matches</th>
                        </tr>
                        {% for rule in report.analysis.capa.rules %}
                        <tr>
                            <td>{{ rule.rule_name }}</td>
                            <td>{{ rule.namespace }}</td>
                            <td>
                            {% for match in rule.matches %}
                            {{ match }}<br>
                            {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <br>
    {% else %}
        Nothing to display.
    {% endif %}
</section>
